
.form-rounded {
    border-radius: 1rem;
    }

.button-rounded_newVendor{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #223F96;
    background: #fff;
}
.button-rounded_newVendor:hover {
    background: #223F96;
    color: #fff
}

.button-rounded_edit{
    border-radius: 10px;
    color: #223F96;
    background: #fff;
}
.button-rounded_edit:hover {
    background: #223F96;
    color: #fff
}
.button-rounded_changeVendor{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #223F96;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}


.button-rounded_submit{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to right, #1B3376, #2D56CE);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-width: 0px;
    box-shadow: 1px 4px 8px 1px #888888;
}

.btn .btn-outline-primary {
    color: #223F96;
}
 .button_shadow{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
 }
 @font-face {
    font-family: boldFont;
    src: url(https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap);
  }