table tr:nth-child(2) td:first-child {
    border-top-left-radius: 16px;
  }

  table tr:nth-child(2) td:last-child {
    border-top-right-radius: 16px;
  }
  table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
  }
  table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
  }
  .table-hover tbody tr:hover{
    background-color:white;
  }
  .table-warning td{
    background-color: #FFDA9D;
  }
  .table-success td{
    background-color:#B4FEC1
  }