body {
    margin:2rem;
}

.form-rounded {
border-radius: 1rem;
}

.header_wrapper{
    height: 10%;
}

.header_left{
    float: left;
}
.button-rounded_submit{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to right, #1B3376, #2D56CE);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-width: 0px;
    box-shadow: 1px 4px 8px 1px #888888;
}
.body-wrapper{
    height: 70%;
}

.radio_partnership{
    left: 92px;
}

.radio_individual{
    left: 30px;
}

.input_tax_name{
    width: 576px;

}

.input_mailling_Add{
    margin-left: 50px;
    width: 576px;

}
.container{
    padding-left: 50px;
    padding-right: 0px;
}
.form-control {
    font-size: 13px;
}
